= form_for @external_account do |f|
  -if @external_account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@external_account.errors.count, "error")} prohibited this external_account from being saved:"
      %ul
        - @external_account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :bank
    = f.text_field :bank
  .field
    = f.label :number
    = f.number_field :number
  .field
    = f.label :unique_code
    = f.number_field :unique_code
  .field
    = f.label :currency
    = f.text_field :currency
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
