%h1 Cuentas externas

%p Para operar con moneda corriente en Bitlletera necesitás previamente haber declarado una cuenta bancaria.
%p Tenés que ser el titular de la cuenta. No podés usar cuentas que no están a tu nombre, aunque sean de un familiar directo.
%p La información aportada será verificada por nosotros. La cuenta agregada quedará pendiente hasta que la aprobemos.

= link_to t(:add_account).capitalize!, new_external_account_path, class: 'btn btn-primary'

%table.table.table-hover
  %thead
    %tr
      %th= t(:bank).capitalize!
      %th= t(:account_number).capitalize!
      %th= t(:currency).capitalize!
      %th= t(:status).capitalize!
      %th
  
  %tbody
    - @external_accounts.each do |external_account|
      %tr{'class' => ('error' if external_account.status == 'pending')}
        %td= external_account.bank
        %td= external_account.number
        %td= external_account.currency
        %td= t(external_account.status.to_s).capitalize!
        %td= link_to t(:details).capitalize!, external_account

%br

