%h1 Crear cuenta externa

  .field
    = f.label t(:bank)
    = f.text_field :bank
  .field
    = f.label t(:account_number)
    = f.text_field :number
    %span.help-block 12 dígitos.
  .field
    = f.label :unique_code, t(:account_unique_code).upcase
    = f.text_field :unique_code
    %span.help-block 22 dígitos.
  .field
    = f.label t(:currency)
    = f.select :currency, options_for_select([['Pesos', 'ARS'], ['Dólares', 'USD']], selected: 'ARS')
  .actions
    = f.button t(:create).capitalize!, name: 'create', class: 'btn btn-primary'
    = f.button t(:back).capitalize!, name: 'back', class: 'btn'
