%p
  %b= t(:bank).capitalize! + ':'
  = @external_account.bank
%p
  %b= t(:account_number).capitalize! + ':'
  = @external_account.number
%p
  %b= t(:account_unique_code).upcase + ':'
  = @external_account.unique_code
%p
  %b= t(:currency).capitalize! + ':'
  = @external_account.currency
%p
  %b= t(:status).capitalize! + ':'
  = t(@external_account.status.to_s).capitalize!

= link_to t(:back).capitalize!, external_accounts_path, class: 'btn'
= link_to t(:delete).capitalize!, @external_account, confirm: I18n.t(:sure?), method: :delete, class: 'btn btn-danger'
