%ul.nav.nav-list#sidebar
  %li= link_to 'Panel', root_path, class: 'muted'
  %li.nav-header Cuentas
  %li= link_to 'Internas', accounts_path
  %li= link_to 'Externas', external_accounts_path
  %li.nav-header Transacciones
  %li= link_to 'Depositar', deposits_path
  %li= link_to 'Extraer', withdraws_path
  %li= link_to 'Transferir', root_path, class: 'muted'
  %li.nav-header Mercado
  %li= link_to 'Comprar', root_path, class: 'muted'
  %li= link_to 'Vender', root_path, class: 'muted'
  %li.nav-header Comunidad
  %li= link_to 'Ofrecer', root_path, class: 'muted'
  %li= link_to 'Explorar', root_path, class: 'muted'
  %li.nav-header Agenda
  %li= link_to 'Contactos', root_path, class: 'muted'
