%ul.nav.nav-list#sidebar
  %li= link_to 'Cuentas'
  %li.nav-header Acciones
  %li= link_to 'Depositar'
  %li= link_to 'Extraer'
  %li= link_to 'Transferir'
  %li.nav-header Mercado
  %li= link_to 'Comprar'
  %li= link_to 'Vender'
  %li.nav-header Comunidad
  %li= link_to 'Ofrecer'
  %li= link_to 'Explorar'
  %li.nav-header Agenda
  %li= link_to 'Contactos'
