%h1 Cuentas internas

%table.table.table-hover
  %thead
    %tr
      %th= t(:currency).capitalize!
      %th= t(:balance).capitalize!
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.currency
        %td= account.balance
        %td= link_to t(:transactions_history).capitalize!, account

%br
